.most-clip {
  background-color: #27292a;
  padding: 30px 15px;
  border-radius: 23px;

}

.most-clip .most-clip-image {
  width: 100%;
  position: relative;
}

.icon-wrapper .play-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 46px;
  color: var(--color-primary);
}


.most-clip .most-clip-image img {
  width: 100%;
  border-radius: 23px;
}

.most-clip-description {
  margin: 20px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.most-clip-description span:first-child {
  font-weight: 800;

}

.most-clip-description span:last-child {
  display: flex;
  align-items: center;
}

.most-clip-description span:last-child .icone {
  color: var(--color-primary);
  margin: 0 5px 3px;

}

.most-clip-description span:last-child .views {
  font-size: 14px;
}