.main-container {
  padding: var(--padding-primary);
  background-color: var(--color-dark);
  border-radius: var(--border-primary);
  color: #fff;
}

@media (max-width:767px) {
  .main-container {
    padding: calc(var(--padding-primary)/2);
  }
}