.main-button a {
  padding: 12px 30px;
  border-radius: var(--border-primary);
  background-color: var(--color-primary);
  color: white;
  font-size: 16px;
  letter-spacing: 0.4px;
  transition: .8s;
  font-weight: 500;
}

.main-button.read-more-clips {
  margin: 30px auto;
}

.main-button a:hover {
  background-color: white;
  color: var(--color-primary);
}

.btn-download a {
  background-color: transparent;
  color: var(--color-primary);
  border-radius: 25px;
  padding: 12px 25px;
  border: 1px solid var(--color-primary);
  transition: .8s;
  cursor: pointer;
}

.btn-download:hover a {
  border-color: white;
  background-color: var(--color-primary);
  color: white;
}

.Link-Button a {
  padding: 12px 30px;
  border-radius: var(--border-primary);
  background-color: var(--color-primary);
  color: white;
  font-size: 16px;
  letter-spacing: 0.4px;
  transition: .8s;
  font-weight: 500;
}
@media (max-width:767px) {
  .Link-Button a{
    padding: 8px 5px;
  }
}

.Link-Button a:hover {
  color: var(--color-primary);
  background-color: white;
  border: 2px solid var(--border-primary);
}