.most-clips {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 20px;


}

@media (max-width:767px) {
  .most-clips {
    padding: 0px;
  }
}

.read-more-clips {
  margin: 0 auto;
}